.header {
	background-color:  gray;
    margin-top: -10em;
    margin-left: -10em;
    margin-right: -10em;
}
h1 {
    color: white;
    margin-left: 1em;
}
h2 {
    margin-right: 10em;
    text-align: center;
}
body {
    margin: 10em;    
    
}
table {
    width: 80%;    
    border-collapse: collapse;
 }
 th, td {
    width: 25%;
    text-align: left;
    vertical-align: top;
    padding: 0.3em;
    border: 1px solid;
 }
 .table-success{
    background: linear-gradient(to bottom,  white 10% , #D5DBDB );   
 }
 .alert{
     color: red;
 }
button {
    width: 150px;
    height: 40px;
    border-radius: 5px;
    float: right;
}
h3 {
    display: inline;
    border: 1px solid;
    border-radius: 8px;
    padding: 8px 480px;
}

.file input {
    display: none;
}

.file label {
    display: inline;
    padding: 10px 50px;
    border: 1px solid;
    border-radius: 8px;
    background-color: grey;
    text-align: center;
    color: white;
    cursor: pointer;
}

